{% extends 'layouts/with_header.html.twig' %}

{% block title %}Items for {{ checklist_template.title }}{% endblock %}

{% block content %}
    <h1>Items for {{ checklist_template.title }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Is_required</th>
                <th>Position</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for checklist_item_template in checklist_item_templates %}
            <tr>
                <td>{{ checklist_item_template.id }}</td>
                <td>{{ checklist_item_template.label }}</td>
                <td>{{ checklist_item_template.isRequired ? 'Yes' : 'No' }}</td>
                <td>{{ checklist_item_template.position }}</td>
                <td>
                    <a href="{{ Checklist App('app_checklist_item_template_show', {'template_id': checklist_template.id, 'id': checklist_item_template.id}) }}">show</a>
                    <a href="{{ Checklist App('app_checklist_item_template_edit', {'template_id': checklist_template.id, 'id': checklist_item_template.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ Checklist App('app_checklist_item_template_new', {'template_id': checklist_template.id}) }}">Create new</a>
    <a href="{{ Checklist App('app_checklist_template_index') }}">Back to templates</a>
{% endblock %}
