{% extends 'base.html.twig' %}

{% block title %}ChecklistItemTemplate{% endblock %}

{% block body %}
    <h1>ChecklistItemTemplate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ checklist_item_template.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ checklist_item_template.label }}</td>
            </tr>
            <tr>
                <th>Is_required</th>
                <td>{{ checklist_item_template.isRequired ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ checklist_item_template.position }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_checklist_item_template_index') }}">back to list</a>

    <a href="{{ path('app_checklist_item_template_edit', {'id': checklist_item_template.id}) }}">edit</a>

    {{ include('checklist_item_template/_delete_form.html.twig') }}
{% endblock %}
